# Compiled source files
#######################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dylib

# Rust build artifacts
######################
target/
debug/
release/

# Cargo-related files
#####################
/Cargo.lock  # Remove this if your project is an application (binary) rather than a library
**/*.rs.bk   # Backup files created by rustfmt

# macOS-specific files
######################
.DS_Store
.AppleDouble
.LSOverride

# Cache files
#############
*.swp
*.swo
*.swn
*.bak

# Logs
######
npm-debug.log
yarn-error.log

# Node.js dependencies (if applicable)
######################################
node_modules/

# Miscellaneous
###############
Thumbs.db
*.log
*.tmp
*.pid
*.seed
*.old
*.orig

# IDE and Editor Files
######################
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# JetBrains IDEs (like CLion, IntelliJ, etc.)
############################################
*.iml
/out/
out/
workspace.xml
